.main {
    margin-top: 30px;
    margin-bottom: 200px;
    width: 60%;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.checkout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.checkout-header h2 {
    font-size: 17;
}

.checkout-header h3 {
    font-size: 14;
    color: rgb(0,113,227);;
}

.form-header {
    font-size: 36px;
    font-weight: 700;
}

.form-subheader {
    font-size: 28px;
    font-weight: 700;
}

.form-area {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.city-input {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.city-input input {
    margin-right: 5px;
}

.form-area * {
   margin: 5px 0px;
   width: 50%;
}

.form-area input, .form-area select, .form-text input {
    color: #1d1d1f;
    
    text-overflow: ellipsis;
    height: 3.29412rem;
    border-radius: 12px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-size: 17px;
    text-align: left;
}

.form-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.form-text div {
    width: 40%;
}

.form-area .submit {
    background-color: rgb(0,113,227);
    border: 0px;
    border-radius: 980px;
    color: #F9FAF8;
    text-align: center;
    font-size: 17px;
    padding: 12px 22px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.valid {
    border-color: #86868b;
    background-color: hsla(0,0%,100%,.8);
}

.invalid {
    background-color: rgba(240, 127, 127, 0.3);
    border: red 1px solid;
}

form {
    width: 100%;
}

.border {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}