

#bag:hover {
    src: url("../images/bag-hover.png");
}

#iphonePro {
    background-image: url("../images/iphone15pro.jpg");
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    
}

#iphone {
    background-image: url("../images/iphone15.jpg");
    color: black;
    background-repeat: no-repeat;
    background-position: center;
}

#film {
    background-image: url("../images/film.jpg");
    color: white;
    background-repeat: no-repeat;
    background-position: center;
}

#film h2 {
    position: relative;
    top: 80px;
}

.hero-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    max-width: 1920px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    text-align: center;
    margin-bottom: 8px;
}

.hero-links, .card-links {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.hero-links a, .card-links a {
    text-decoration: none;
    color: #06c;
}
#film .hero-links a {
    color: white;
}

#film .hero-links {
    display: block;
    position: relative;
    bottom: 100px;
}

.hero-links a:hover {
    text-decoration: underline;
}

#iwatch-card {
    background-image: url("../images/iwatch.jpg");
    color: white;
}

#ipad {
    background-image: url("../images/ipad.jpg");
    color: black;
}

#tradein {
    background-image: url("../images/tradein.jpg");
    color: black;
}

#applecard {
    background-image: url("../images/applecard.jpg");
    color: black;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    color: blue;
    margin-bottom: 8px;
}

.card {
    width: 800px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.card-links h5 {
    margin-top: 0px;
}

.card-text {
    margin: 0 auto 0 auto;
    text-align: center;
}

.slider img:hover {
    transform:scale(1.5);
}