body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    font-family: 'San Francisco';
    margin: 0;
}

.header {
    height: 30px;
    width: 100%;
    background-color: rgb(29,29,31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.header-items {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a {
    text-decoration: none;
    color:rgba(255, 255, 255, .8);
    padding: 5px;
}

.header-items a:hover {
    color: white;
}

.header img {
    width: 16px;
    height: 16px;
}

#bag:hover {
    src: url("./images/bag-hover.png");
}

#iphonePro {
    background-image: url("./images/iphone15pro.jpg");
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
}

#iphone {
    background-image: url("./images/iphone15.jpg");
    color: black;
    background-repeat: no-repeat;
    background-position: center;
}

#film {
    background-image: url("./images/film.jpg");
    color: white;
    background-repeat: no-repeat;
    background-position: center;
}

#film h2 {
    position: relative;
    top: 80px;
}

.ads {
    max-width: 1920px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    text-align: center;
    margin-bottom: 8px;
}

.ads-links, .card-links {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.ads-links a, .card-links a {
    text-decoration: none;
    color: #06c;
}
#film .ads-links a {
    color: white;
}

#film .ads-links {
    display: block;
    position: relative;
    bottom: 100px;
}

.ads-links a:hover {
    text-decoration: underline;
}

#iwatch-card {
    background-image: url("./images/iwatch.jpg");
    color: white;
}

#ipad {
    background-image: url("./images/ipad.jpg");
    color: black;
}

#tradein {
    background-image: url("./images/tradein.jpg");
    color: black;
}

#applecard {
    background-image: url("./images/applecard.jpg");
    color: black;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    color: blue;
    margin-bottom: 8px;
}

.card {
    width: 800px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.card-links h5 {
    margin-top: 0px;
}

.card-text {
    margin: 0 auto 0 auto;
    text-align: center;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f7;
    color: #6e6e73;
    border-color: #d2d2d7;
    font-size: 12px;
}

.footer-content, .under-footer {
    width: 50%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.footer a, .close a {
    color: #424245;
    text-decoration: none;
}

.footer a:hover, .close a:hover {
    text-decoration: underline;
}

.root-directory {
    color: #1d1d1f;
}

.small-text {
    border-bottom: 1px solid;
}

ul {
    list-style-type: none;
}

.directories {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.under-dir a {
    color: #06c;
    text-decoration: underline;
}

.under-dir {
    border-bottom: 1px solid;
    padding: 2px;
}

.close ul li {
    display: inline;
    border-right: 1px solid;
    padding: 2px;
}

.close ul {
   padding: 0px;
}

.locale {
    margin-left: auto;
}

.close-wrap {
    display: flex;
    justify-content: space-between;
}

.slider {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slider img {
    width: 100%;
}

.slider img:hover {
    transform:scale(1.5);
}

.slide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }